.email-concluido {
    background-color: var(--principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    justify-content: center;
}

.cartao-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-branco);
    border-radius: 10px;
    width: 100%;
    max-width: 45rem;
    height: 35rem;
    padding: 1.75rem;
    box-sizing: border-box;
    margin: 1rem auto;
}

.imagem-verificado {
    width: 82px;
    height: 82px;
    margin-bottom: 1rem;
}

.cartao-email p {
    font-size: 2.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}