.cabecalho {
    height: 285px;
    background-image: url('../img/banner-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.header_banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    border-radius: 4rem;
}

#chamada {
    font-size: 32px;
    font-family: var(--fonte-asap);
    color: var(--verde-claro);
    font-style: italic;
}

span {
    font-family: var(--fonte-asap);
    color: var(--cor-branco);
    font-size: 22px;
}


@media screen and (max-width:1200px) {
    #cabecalho {
        flex-direction: column !important;
    }
}

@media screen and (max-width:680px) {
    #chamada {
        font-size: 22px;
        font-family: var(--fonte-asap);
        color: var(--verde-claro);
    }

    span {
        font-family: var(--fonte-asap);
        color: var(--cor-branco);
        font-size: 18px;
    }

    
    
            
}
