.cabecalho {
    height: 285px;
    background-image: url('../img/banner-header.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.header_banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    border-radius: 4rem;
}

h2 {
    font-size: 32px;
    font-family: var(--fonte-asap);
}

span {
    font-family: var(--fonte-asap);
    color: var(--cor-branco);
    font-size: 22px;
}