
.produtos .card {
    width: 15rem;
}

.produtos .card img {
    height: 15rem;
}

.card:hover {
    border: 2px solid  var(--secundaria);
}

@media screen and (max-width:991px) {
    
    .produtos .card {
        width: 12rem;
    }
    
    .produtos .card img {
        height: 12rem;
    }
    
}

@media screen and (max-width:576px) {
    .produtos .card {
        width: 90%;
        margin: 0 auto;
    }
    
    .produtos .card img {
        height: 100%;
    }

}