
.titulo-sobre {
    background-color: var(--clara);
}

.carrossel-sobre {
    height: 500px;
}

.principal-sobre article {
    background-color: var(--cor-branco);
    font-family: var(--fonte-ibm);
    font-size: 22px;
}

.principal-sobre article h2 {
    font-size: 50px;
    padding: 2rem 0;
}

.principal-sobre article p {
    padding: 0 3rem;
}

.loja-img {
    margin-bottom: 2rem;
}

.principal-sobre article ul {
    margin-bottom: 0px;
    padding: 3rem;
}

.principal-sobre article ul li{
    text-decoration: double;
}


.principal-sobre .secao-video {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../img/fundo-video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0% 50%;
}

.horarios {
    /*border: 2px solid var(--cor-branco);*/
    font-size: 1.8rem;
    margin: 1rem;
    border-radius: 10%;
    text-align: center;
    color: #212416;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10%;
    box-shadow: 5px 5px 15px rgba(1, 1, 1, 1.4);
}

.horarios_titulo {
    font-size: 3rem;
    padding: 1rem;
    font-family: var(--fonte-asap);
    font-weight: bolder;
}

.dias {
    border-top: 2px solid white;
}
.video {
    padding: 1rem;
    width: 390px;
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 5px 5px 15px rgba(1, 1, 1, 1.4);
}

