
:root {
    --cor-branco : #FFFFFF;
    --principal: #263F8c;
    --secundaria: #1F3B73;
    --clara: #E4EAF2;
    --verde-claro: #B8D941;
    --verde-agua: #E6F2BB;
    --fonte-asap : 'Asap', sans-serif;
    --fonte-ibm : 'IBM Plex Sans Thai', sans-serif;
}

.mapa h2 {
    font-size: 2.8rem;
    font-weight: bolder;
}

.mapa p{
    font-size: 1.8rem;
}

.mapa-coluna__endereco {
    line-height: 2rem;
}

.mapaGoogle {
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 5px 5px 15px rgba(1, 1, 1, 1.4);
}

/* Media Query */

@media screen and (max-width:991px) {
    .mapa h2 {
        font-size: 2.2rem;
    }

    .mapa p {
        font-size: 1.4rem;
    }

    .caixa-mapa {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }

    .caixa-mapa iframe {
        width: 90%;
        margin: 0.5rem auto;
    }

}

@media screen and (max-width:576px) {
    .mapa h2 {
        font-size: 1.6rem;
    }

    .mapa p {
        font-size: 1rem;
    }
    
    .carrosel-imagem-1 {
        height: 400px;
        object-fit: cover;
        object-position: 8% 70%;
    }

    .carrosel-imagem-2 {
        height: 400px;
        object-fit: cover;
        object-position: 40% 70%;
    }  
}