
:root {
    --cor-branco : #FFFFFF;
    --principal: #263F8c;
    --secundaria: #1F3B73;
    --clara: #E4EAF2;
    --verde-claro: #B8D941;
    --verde-agua: #E6F2BB;
    --fonte-asap : 'Asap', sans-serif;
    --fonte-ibm : 'IBM Plex Sans Thai', sans-serif;
}

/*menu navegação*/

#link-menu {
    color: var(--cor-branco);
}

#link-menu:hover {
    color: var(--verde-claro);
    font-size: 1.05rem;
}

.redeSocial {
    border-radius: 15%;
}

/*pagina produtos*/
.produtos .card {
    width: 15rem;
}

.produtos .card img {
    height: 15rem;
}

/*rodape*/

.rodape-imagem {
    height: 75px;
    
}

.imagem-nome{
    max-width: 12.5rem;
}

/*pagina proodutos*/

.card:hover {
    border: 2px solid  var(--secundaria);
}

/*pagina formulario*/

.secao1 {
    width: 45%;
}

.secao2 {
    width: 45%;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}


.formulario input, textarea {
    border: 1px solid var(--secundaria);
    border-radius: 0.4rem;
}

.campo-input {
    height: 2.5rem;
    padding: 1rem;
}
.campo-captcha{
    height: 10pt;
    padding: 1rem;
}

.formulario textarea {
    padding: 1rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#botao-input {
    font-size: 1.5rem;
}

/* pagina Sobre nós*/
.principal-sobre article {
    background-color: var(--clara);
    font-family: var(--fonte-ibm);
    font-size: 22px;
}

.principal-sobre article h2 {
    font-size: 50px;
    padding: 2rem 0;
}

.principal-sobre article p {
    padding: 0 3rem;
}

.loja-img {
    margin-bottom: 2rem;
}

.principal-sobre article ul {
    margin-bottom: 0px;
    padding: 3rem;
}

.principal-sobre article ul li{
    text-decoration: double;
}



@media screen and (max-width:991px) {

    #caixa-mapa {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }

    #caixa-mapa iframe {
        width: 100%;
    }

    .produtos .card {
        width: 12rem;
    }
    
    .produtos .card img {
        height: 12rem;
    }

    #rodape {
        margin: 0 !important;
    }

    .rodape-nav {
        display: none;
    }

    .orcamento {
        flex-direction: column;
    }

    .secao1, .secao2 {
        width: 90%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
  
}

@media screen and (max-width:576px) {
    .carrosel-imagem-1 {
        height: 400px;
        object-fit: cover;
        object-position: 8% 70%;
    }

    .carrosel-imagem-2 {
        height: 400px;
        object-fit: cover;
        object-position: 40% 70%;
    }
    
    .produtos .card {
        width: 90%;
        margin: 0 auto;
    }
    
    .produtos .card img {
        height: 100%;
    }

    .imagem-logo{
        width: 3.125rem;
    }

    .imagem-nome{
        max-width: 9.375rem;
    }

    .rodape-social-img {
        height: 32px;
        width: 32px;
    }
}